version: '3.8'
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: vite_frontend_dev
    ports:
      - "5173:5173"
    volumes:
      - .:/app:cached
      - /app/node_modules