.container {
  padding-top: 120px;        /* below fixed header */
  padding-left: 20px;
  padding-right: 20px;

  min-height: calc(100vh - 64px);
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;       /* horizontal center */
}
